# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
env/
venv/
.env
config.yaml
credentials.json

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Notebooks / caches / logs
.ipynb_checkpoints/
.pytest_cache/
*.log
logs/
.cache/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
*.code-workspace
Desktop.ini

# Streamlit temp folder
temp/
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# JSON outputs
outputs/

# Logs
logs/
*.log

# --- Data Folders ---
# Ignore all files inside the raw and processed data folders
data/raw/*
data/processed/*

# But DO NOT ignore the .gitkeep files inside them
!data/raw/.gitkeep
!data/processed/.gitkeep

!requirements.txt
!README.md

datasets/
checkpoints/
lightning_logs/
wandb/
mlruns/


# Ignore all files in the models directory
models/*
!models/.gitkeep
!models/README.md